<div data-role="page" data-theme="a">
  
  <div data-role="header" data-position="inline">
    <h1>Device Attributes</h1>
    <a href="<%= url_for( :action => :index ,:query => {:user_name=> @params['user_name']} )%>" class="ui-btn-left" data-icon="back" >
     Back
    </a>
    <a href="<%= url_for :controller=>:RhoMonitor,:action => :logout %>" class="ui-btn-right" >
     Logout
    </a>
  </div>
  <%i=true%>
  <div data-role="content" >
      <ul data-role="listview" data-inset="true" data-theme="d" data-divider-theme="a"> 
      <% @device_params.each do |params| %>
        <% if params['value'] && params['value']!=""%>
           <% if i%>
              <li data-role="list-divider"><%= params['value'] %></li>
              <%i=false%>
          <%else%>
            <li><%= params['name'] %> <span class="ui-li-aside"><%= params['value'] %></span></li>
          <%end%>
        <% end %>
      <% end %>
      <li>Destroy device<span class="ui-li-aside"><a href="<%=url_for(:controller=>:Device,:action => :delete ,:query => {:device_name=>@device_name} )%>"><img src="\public\images\rcm\delete.png" width="20" height="20"/></a></span></li>
      </ul>
      
  </div>
</div>