<div data-role="page"  class="type-interior">

	<div data-role="header"  data-position="inline">
    <h1>Devices</h1>
    <a href="<%= Rho::RhoConfig.start_path %>" class="ui-btn-left" data-icon="home" data-direction="reverse" <%= "data-ajax='false'" if is_bb6 %>>
      Home
    </a>
    <a href="<%= url_for( :action => :new ,:query => {:name=> @params['name']} )%>" class="ui-btn-right" data-icon="plus">
      Create
    </a>
	</div>

  <div data-role="content">
      <div class="content-primary">
        <ul data-role="listview" data-inset="true">
        <% @devices.each do |device| %>
            <li>
                <a href="#">
                <img src="/public/images/mobile_device.png" />
                <h3><%= device %></h3>
                <p></p>
                </a>
                <a href="<%=url_for(:action => :delete ,:query => {:name=>device} )%>">
                      Delete</a>
            </li>
        <% end %>
        </ul>
      </div>
  </div>

</div>
