<div data-role="page" data-theme="a">
  
  <div data-role="header" data-position="inline">
    <h1>Registered users </h1>
    <a href="<%= Rho::RhoConfig.dashboard_path %>" class="ui-btn-left" data-icon="back" >
     Back
    </a>
    <a href="<%= url_for :controller=>:RhoMonitor,:action => :logout %>" class="ui-btn-right" >
     Logout
    </a>
  </div>

  <div data-role="content" >
    <div>
      <ul data-role="listview" data-inset="true" data-theme="a" data-divider-theme="d" data-split-theme="d" data-split-icon="delete" >
      <li data-role="list-divider">Users List</li>
      <% @users.each do |user| %>
          <li><a href="<%=url_for :action => :user_dashboard,:query => {:user_name=>user.user} %>">
            <img src="\public\images\rcm\User-blue-icon.png" />
            <h3><%= user.user %></h3>
            <p></p>
            </a>
            <a href="<%=url_for(:action => :delete ,:query => {:user_name=>user.user} )%>">
            Delete</a>
          </li>
      <% end %>
      </ul>
  </div>
  </div>
<div data-id="tabbar" data-role="footer" data-position="fixed" class="nav-cust">
    <div data-role="navbar" class="nav-cust" data-grid="b">
      <ul>
        <li><a href="<%= url_for :controller =>RhoMonitor ,:action => :dashboard %>" id="dashboard" data-icon="custom">Dashboard</a></li>
        <li><a href="#" id="refresh" data-icon="custom">Refresh</a></li>
        <li><a href="<%= url_for :controller =>RhoMonitor ,:action => :logout %>" id="logout" data-icon="custom">Logout</a></li>
      
      </ul>
    </div>
  </div>
</div>
