<div data-role="page" data-theme="a">
  <div data-role="header" data-position="inline">
   <h1>User Dashboard </h1>
   <a href="<%= url_for :action => :index,:query => {:user_name=>@user} %>" class="ui-btn-left" data-icon="back" >
    Back
   </a>
   <a href="<%= url_for :controller=>:RhoMonitor,:action => :logout %>" class="ui-btn-right" >
    Logout
   </a>
 </div>

  <div data-role="content">
     
     <div class="ui-grid-a">
       <div class="ui-block-a"><div class="ui-bar " style="height:180px">
       <a href="<%=url_for(:controller=>:Device,:action => :index ,:query => {:user_name=>@user} )%>" ><img src="\public\images\rcm\device.png" width="100px" height="100px"/><div>Devices</div></a>
       </div></div>
       <div class="ui-block-b"><div class="ui-bar " style="height:180px">
       <a href="<%= url_for :controller=>:Source ,:action => :source_list,:query => {:user_name=>@user} %>"><img src="\public\images\rcm\sources.png" width="100px" height="100px"/><div>Sources</div></a>
       </div></div>
     </div>
  
  </div>
  <div data-id="tabbar" data-role="footer" data-position="fixed" class="nav-cust">
    <div data-role="navbar" class="nav-cust" data-grid="b">
      <ul>
        <li><a href="<%= url_for :controller =>RhoMonitor ,:action => :dashboard %>" id="dashboard" data-icon="custom" >Dashboard</a></li>
        <li><a href="<%= url_for :action => :user_dashboard_refresh %>" id="refresh" data-icon="custom">Refresh</a></li>
        <li><a href="<%= url_for :controller =>RhoMonitor ,:action => :logout %>" id="logout" data-icon="custom">Logout</a></li>
      
      </ul>
    </div>
  </div>
</div>
