<div data-role="page" data-theme="a">
 	<div data-role="header" data-position="inline">
    <h1>Users Ping</h1>
     <a href="<%= Rho::RhoConfig.dashboard_path %>" class="ui-btn-left" data-icon="back" data-direction="reverse">
      Back
     </a>
      
	</div>
 <div class="company_name"> <span>Crafted by:</span><i><a href="http://www.spritle.com/?ref=rhoconnect_monitor" target="_blank" style="color: #7CC4E7;text-decoration:none;"> Spritle software</a> </i></div>
  <div data-role="content">
    <% if @users.size != 0 %>
       <form method="POST" action="<%= url_for :action => :ping_form %>">
      <div  data-role="fieldcontain">
        <b>Choose users to ping:</b>
        <fieldset data-role="controlgroup">
          <legend></legend>
          <%i=1%>
            <% @users.each do |user| %>
                <input type="checkbox" name="ping[checkbox-<%=i%>]" id="ping[checkbox-<%=i%>]" class="custom" value="<%= user.user %>"/>
                  <label for="ping[checkbox-<%=i%>]"><%= user.user %></label>
                  <%i+=1%>
            <% end %>
          </fieldset>
       </div>
      <input type="submit" value="Ping">
       </form>
       <% end %>
  </div>
  <div data-id="tabbar" data-role="footer" data-position="fixed" class="nav-cust">
       <div data-role="navbar" class="nav-cust" data-grid="b">
          <ul>
             <li><a href="<%= url_for :controller =>RhoMonitor ,:action => :dashboard %>" id="dashboard" data-icon="custom" >Dashboard</a></li>
             <li><a href="#" id="refresh" data-icon="custom" onClick="$.mobile.showPageLoadingMsg(); $.post('/app/Ping/ping_user_refresh');">Refresh</a></li>
             <li><a href="<%= url_for :controller =>RhoMonitor ,:action => :logout %>" id="logout" data-icon="custom">Logout</a></li>
         </ul>
       </div>
 </div>
</div>
