<div data-role="page" data-theme="a">
   <script type="text/javascript" src="/public/js/ping_form.js"></script>
	<div data-role="header" data-position="inline">
    <h1>Users Ping</h1>
    <a href="<%= url_for :action => :index %>" class="ui-btn-left" data-icon="back" data-direction="reverse">
     Back
    </a>
	</div>
 <%= render :partial => "Shared/company_name"%>
  <div data-role="content" >
    <form>
      <% if @users != [] %>
          <div data-role="fieldcontain">
           <label for="rho_monitor[user]" class="fieldLabel"><b>Users  -</b></label>
           <%= @users %>
         </div>
        <% end %>
         <div data-role="fieldcontain">
           <label for="rho_monitor[message]" class="fieldLabel"><b>Message</b></label>
           <input type="text" id="rho_monitor[message]" class="mgs" name="rho_monitor[message]" value="Hello World" />
         </div>
         <div data-role="fieldcontain">
           <label for="rho_monitor[vibrate]" class="fieldLabel"><b>Vibrate</b></label>
           <input type="text" id="rho_monitor[vibrate]" class="vibrate" name="rho_monitor[vibrate]" value="2000" />
         </div>
         <div data-role="fieldcontain">
           <label for="rho_monitor[sound]" class="fieldLabel"><b>Sound</b></label>
           <input type="text" id="rho_monitor[sound]" class="sound" name="rho_monitor[sound]" value="hello.mp3" />
         </div>
         <a href="#" id="user_ping" data-role="button">Ping</a>
       </form>
  </div>
  <div data-id="tabbar" data-role="footer" data-position="fixed" class="nav-cust">
      <div data-role="navbar" class="nav-cust" data-grid="b">
       <ul>
         <li><a href="<%= url_for :controller =>RhoMonitor ,:action => :dashboard %>" id="dashboard" data-icon="custom" >Dashboard</a></li>
         <li><a href="#" id="refresh" data-icon="custom" onclick="$.mobile.showPageLoadingMsg(); location.reload();">Refresh</a></li>
         <li><a href="<%= url_for :controller =>RhoMonitor ,:action => :logout %>" id="logout" data-icon="custom">Logout</a></li>
       </ul>
  </div>
 </div>
</div>