<div data-role="page" data-theme="a">
  
   <%= render :partial => "Shared/company_name"%><br/>
	<div data-role="content" style="text-align: center;" >
    <div class="ui-grid-b">
        <div class="ui-block-a"><div class="ui-bar " style="height:100px">
        <a href="#" id="info_page"><img src="\public\images\rcm\license-icon.png" width="50px" height="50px"/><div>License</div></a>
        </div></div>
        <div class="ui-block-b"><div class="ui-bar " style="height:100px">
        <a href="<%= url_for :controller=>:Users ,:action => :index %>"  ><img src="\public\images\rcm\Users-icon.png"width="50px" height="50px"/><div>Users</div></a>
        </div></div>
        <div class="ui-block-c"><div class="ui-bar " style="height:100px">
        <a href="<%= url_for :controller=>:Users ,:action => :new %>"  ><img src="\public\images\rcm\add-user-icon.png" width="50px" height="50px"/><div>Create</div></a>
        </div></div>
        
        <div class="ui-block-a"><div class="ui-bar " style="height:100px">
        <a href="<%= url_for :controller=>:Ping ,:action => :index %>" ><img src="\public\images\rcm\send msg.png" width="50px" height="50px"/><div>SendMsg</div></a>
        </div></div>
        <div class="ui-block-b"><div class="ui-bar " style="height:100px">
        <a href="<%= url_for :controller=>:Source ,:action => :source_list %>" ><img src="\public\images\rcm\db-source-icon.png" width="50px" height="50px"/><div>Source</div></a>
        </div></div>
        <div class="ui-block-c"><div class="ui-bar " style="height:100px">
        <a href="#" id="adapter"><img src="\public\images\rcm\adaptor-icon.png" width="50px" height="50px"/><div>Adapter</div></a>
        </div></div>
        
        <div class="ui-block-a"><div class="ui-bar " style="height:100px">
        <a href="#" id="ping_status"><img src="\public\images\rcm\Run-icon.png" width="50px" height="50px"/><div>Ping</div></a>
        </div></div>
        <div class="ui-block-b"><div class="ui-bar" style="height:100px">
        <a href="#" id="reset_db" ><img src="\public\images\rcm\reset-icon.png" width="50px" height="50px"/><div>Reset</div></a>
        </div></div>
        <div class="ui-block-c"><div class="ui-bar " style="height:100px">
        <a href="#" id="statistic"><img src="/public/images/rcm/statistics-icon.png" width="50px" height="50px"/><div>Statistics</div></a>
        </div></div>

        <script type="text/javascript">
         $(document).ready(function(){
           $('#info_page').click(function(){
            $.mobile.showPageLoadingMsg();
            window.location.href="/app/Info/index"
           });
           $('#statistic').click(function(){
              $.mobile.showPageLoadingMsg();
              window.location.href="/app/Chart/index"
           });
         });
 
        </script>
      </div>
    
</div>
<div data-id="tabbar" data-role="footer" data-position="fixed" class="nav-cust">
 <div class="company_name"> Crafted by:<i><a href="#"> Spritle software</a> </i></div>
    <div data-role="navbar" class="nav-cust" data-grid="b">
     
      <ul>
        <li><a href="<%= url_for :controller =>RhoMonitor ,:action => :dashboard %>" id="dashboard" data-icon="custom" class="ui-btn-active ui-state-persist">Dashboard</a></li>
        <li><a href="#" id="refresh" class="refresh_icon" onclick="$.mobile.showPageLoadingMsg(); location.reload();" data-icon="custom">Refresh</a></li>
        <li><a href="<%= url_for :controller =>RhoMonitor ,:action => :logout %>" id="logout" data-icon="custom">Logout</a></li>
      </ul>

    </div>
  </div>
 
</div>