<div data-role="page" data-theme="b">
	<div data-role="header" data-position="inline">
		<h1>Dashboard</h1>
		<a href="<%= url_for :action => :logout %>" class="ui-btn-right" >
		 Logout
		</a>
	</div>

	<div data-role="content">
      <div data-role="fieldcontain">
        <a href="<%= url_for :controller=>:Info ,:action => :index %>" ><label  class="fieldLabel">License</label></a>
      </div>
      <div data-role="fieldcontain">
        <a href="<%= url_for :controller=>:Users ,:action => :index %>"  ><label  class="fieldLabel">Users</label></a>
      </div>
      <div data-role="fieldcontain">
      <a href="<%= url_for :controller=>:Users ,:action => :new %>"  ><label  class="fieldLabel">Create User</label></a>
      </div>
      <div data-role="fieldcontain">
      <a href="<%= url_for :controller=>:Ping ,:action => :index %>" ><label  class="fieldLabel">Ping</label></a>
      </div>
      <div data-role="fieldcontain">
        <a href="<%= url_for :controller=>:Source ,:action => :source_list %>" ><label  class="fieldLabel">Source</label></a>
      </div>
      <div data-role="fieldcontain">
         <a href="<%= url_for :controller=>:RhoMonitor ,:action => :reset %>" ><label  class="fieldLabel">Reset</label></a>
      </div>
      
</div>
</div>