<div data-role="page" data-theme="b">
	<div data-role="header" data-position="inline">
		<h1>Dashboard</h1>
		<a href="<%= Rho::RhoConfig.start_path %>" class="ui-btn-left" data-icon="home" data-direction="reverse" <%= "data-ajax='false'" if is_bb6 %>>
			Home
		</a>
		<a href="<%= url_for :action => :new %>" class="ui-btn-right" data-icon="plus">
			New
		</a>
	</div>

	<div data-role="content">
		<ul data-role="listview">
			<li>Body:<%= @res %></li>
			<li>Total: <%= @seats %></li>
			<li>Available: <%= @available %></li>
			<li>Licensed to: <%= @licensee %></li>
		</ul>
	</div>
</div>