<div data-role="page" data-theme="a">
  <div data-role="header" data-position="inline" data-theme="a">
    <h1>Informations</h1>
    <a href="<%= Rho::RhoConfig.dashboard_path %>" class="ui-btn-left" data-icon="back" data-direction="reverse">
     Back
    </a>
   
  </div>
 <div class="company_name"> <span>Crafted by:</span><i><a href="http://www.spritle.com/?ref=rhoconnect_monitor" target="_blank" style="color: #7CC4E7;text-decoration:none;"> Spritle software</a> </i></div><br/>
  <div data-role="content" >
    <script type="text/javascript">
     
      var chart1;
      var used;
      used=<%= @Info[0].total %>-<%= @Info[0].available %>;
      $(document).ready(function () {
        
        // Build the chart
        chart1 = new Highcharts.Chart({
            chart: {
                renderTo: 'container_info',
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: 'Device Usage -Total Devices <%= @Info[0].total %> ',
                 style: {
              color: 'gray',
              fontWeight: 'bold'
            }
            },
          subtitle: {
            text: "License To <%= @Info[0].license %> <br/> Issued on <%= @Info[0].issued_date %><br/>",
            style: {
              color: 'gray',
              fontWeight: 'bold'
            }
          },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.y}</b>',
                percentageDecimals: 1
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: false
                    },
                    showInLegend: true
                }
            },
            series: [{
                type: 'pie',
                name: 'Browser share',
                data: [
                     ['Used Devices',  used],
                     ['Available Devices', <%= @Info[0].available %>]
                ]
            }]
        });
    });
    
        
    </script>
 <div id="container_info" style="height: 80%;width:80%; margin: 0 auto"></div>
     
  </div>
 
<div data-id="tabbar" data-role="footer" data-position="fixed" class="nav-cust">
    <div data-role="navbar" class="nav-cust" data-grid="b">
      <ul>
        <li><a href="<%= url_for :controller => RhoMonitor ,:action => :dashboard %>" id="dashboard" data-icon="custom">Dashboard</a></li>
        <li><a href="<%= url_for :controller => Info,:action => :info_refresh %>" id="refresh" class="refresh_icon" data-icon="custom">Refresh</a></li>
        <li><a href="<%= url_for :controller =>RhoMonitor ,:action => :logout %>" id="logout" data-icon="custom">Logout</a></li>
      </ul>
    </div>
  </div>
</div>
