<div data-role="page" data-theme="a">
  <div data-role="header" data-position="inline" data-theme="a">
    <h1>License Information</h1>
    <a href="<%= Rho::RhoConfig.dashboard_path %>" class="ui-btn-left" data-icon="back" >
     Back
    </a>
   
  </div>

  <div data-role="content" >
    
     <div class="ui-grid-b">
       <div class="ui-block-a"><div class="ui-bar " style="height:180px">
         <a href="#"><div><h2>Licensed <br/>To</h2></div><p><%= @Info[0].license %></p></a>
        </div></div>
       
       <div class="ui-block-b"><div class="ui-bar " style="height:180px">
       <a href="#"><div><h2>Available<br/>Devices</h2></div><p><%= @Info[0].available %></p></a>
       </div></div>
       <div class="ui-block-a"><div class="ui-bar " style="height:180px">
         <a href="#"><div><h2>Devices<br/>Total</h2></div><p><%= @Info[0].total %></p></a>
        </div></div>
       <div class="ui-block-b"><div class="ui-bar " style="height:180px">
       <a href="#"><div><h2>Issued<br/>on</h2></div><p><%= @Info[0].issued_date %></p></a>
       </div></div>
     </div>
     

  </div>
 
<div data-id="tabbar" data-role="footer" data-position="fixed" class="nav-cust">
    <div data-role="navbar" class="nav-cust" data-grid="b">
      <ul>
        <li><a href="<%= url_for :controller => RhoMonitor ,:action => :dashboard %>" id="dashboard" data-icon="custom">Dashboard</a></li>
        <li><a href="<%= url_for :controller => Info,:action => :info_refresh %>" id="refresh" class="refresh_icon" data-icon="custom">Refresh</a></li>
        <li><a href="<%= url_for :controller =>RhoMonitor ,:action => :logout %>" id="logout" data-icon="custom">Logout</a></li>
      </ul>
    </div>
  </div>
</div>
