
<div data-role="page" data-theme="a">
    <script type="text/javascript">

      $(document).ready(function(){
         var used;
      used=<%= @Info[0].total %>-<%= @Info[0].available %>;
      var data = [
        ['Used Devices',  used],['Available Devices', <%= @Info[0].available %>]
      ];
      jQuery.jqplot ('container_info', [data], 
        { 
          seriesDefaults: {
            // Make this a pie chart.
            renderer: jQuery.jqplot.PieRenderer, 

            rendererOptions: {
              // Put data labels on the pie slices.
              // By default, labels show the percentage of the slice.
              showDataLabels: true,dataLabels: 'value'
            }
          },grid: { borderColor: '#424242'} ,seriesColors: [ "#b2c54b", "#c54b75"],legend: {
        show: true,location: 's'}

        }
      );

    });
     
    </script>
 
  <div data-role="header" data-position="inline" data-theme="a">
    <h1>Informations</h1>
    <a href="<%= Rho::RhoConfig.dashboard_path %>" class="ui-btn-left" data-icon="back" data-direction="reverse">
     Back
    </a>
   
  </div>
 <%= render :partial => "Shared/company_name"%><br/>
  <div data-role="content" >
   <div style="text-align:center;"><b>Device Usage -Total Devices <%= @Info[0].total %><br/>
   License To <%= @Info[0].license %><br/>Issued-on-<%= @Info[0].issued_date %></b></div>
    <!--Div that will hold the pie chart-->
   <div id="container_info" class="charts" style="height:30%;"></div>
     
  </div>
 
<div data-id="tabbar" data-role="footer" data-position="fixed" class="nav-cust">
    <div data-role="navbar" class="nav-cust" data-grid="b">
      <ul>
        <li><a href="<%= url_for :controller => RhoMonitor ,:action => :dashboard %>" id="dashboard" data-icon="custom">Dashboard</a></li>
        <li><a href="#" id="refresh" class="refresh_icon" data-icon="custom" onclick="$.mobile.showPageLoadingMsg(); $.post('/app/Info/info_refresh');">Refresh</a></li>
        <li><a href="<%= url_for :controller =>RhoMonitor ,:action => :logout %>" id="logout" data-icon="custom">Logout</a></li>
      </ul>
    </div>
  </div>
</div>
