
<div data-role="page" data-theme="a">
   <script type="text/javascript" src="https://www.google.com/jsapi"></script>        
    <script type="text/javascript">

      var used;
      used=<%= @Info[0].total %>-<%= @Info[0].available %>;
      // Load the Visualization API and the piechart package.
      google.load('visualization', '1.0', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {
        
        // Create the data table.
        var data = new google.visualization.DataTable();
         data.addColumn('string', 'Topping');
         data.addColumn('number', 'Slices');
        data.addRows([
          ['Used Devices',  used],
          ['Available Devices', <%= @Info[0].available %>]
        ]);

        // Set chart options
        var options = {'title':'Device Usage -Total Devices <%= @Info[0].total %>,   License To <%= @Info[0].license %>, Issued-on-<%= @Info[0].issued_date %>',
                        legend:'top',titleTextStyle: {color: 'gray'},fontSize:13,axisTitlesPosition: 'in',pieSliceText : "value"};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('container_info'));
        chart.draw(data, options);
      }
    </script>
 
  <div data-role="header" data-position="inline" data-theme="a">
    <h1>Informations</h1>
    <a href="<%= Rho::RhoConfig.dashboard_path %>" class="ui-btn-left" data-icon="back" data-direction="reverse">
     Back
    </a>
   
  </div>
 <div class="company_name"> <span>Crafted by:</span><i><a href="http://www.spritle.com/?ref=rhoconnect_monitor" target="_blank" style="color: #7CC4E7;text-decoration:none;"> Spritle software</a> </i></div><br/>
  <div data-role="content" >
 
    <!--Div that will hold the pie chart-->
   <div id="container_info" class="charts"></div>
     
  </div>
 
<div data-id="tabbar" data-role="footer" data-position="fixed" class="nav-cust">
    <div data-role="navbar" class="nav-cust" data-grid="b">
      <ul>
        <li><a href="<%= url_for :controller => RhoMonitor ,:action => :dashboard %>" id="dashboard" data-icon="custom">Dashboard</a></li>
        <li><a href="#" id="refresh" class="refresh_icon" data-icon="custom" onclick="$.mobile.showPageLoadingMsg(); $.post('/app/Info/info_refresh');">Refresh</a></li>
        <li><a href="<%= url_for :controller =>RhoMonitor ,:action => :logout %>" id="logout" data-icon="custom">Logout</a></li>
      </ul>
    </div>
  </div>
</div>
