<div data-role="page" data-theme="b">
	<div data-role="header" data-position="inline" data-theme="b">
    <h1>License Information</h1>
	</div>

  <div data-role="content" data-theme="a">
    <ul data-role="listview">
      <li>
        <h3><%=@license%></h3>
        <p class="ui-li-aside"><strong><%=@issued_time%></strong></p>
        <p><strong>Licensed to <%=@license%> issued on <%=@issued%> </strong></p>
      </li>
        <li>Total Devices <span class="ui-li-count"><%=@total%></span></li>
        <li>Available<span class="ui-li-count"><%=@available%></span></li>
        <li>Issued date<p class="ui-li-aside"><strong><%=@issued_date%></strong></p></li>
    </ul>
  </div>

</div>
