<div data-role="page" data-theme="b">
  
	<div data-role="header" data-position="inline">
    <h1>License Information</h1>
    <a href="<%= Rho::RhoConfig.dashboard_path %>" class="ui-btn-left" data-icon="back" >
     Back
    </a>
    <a href="<%= url_for :controller=>:RhoMonitor,:action => :logout %>" class="ui-btn-right" >
     Logout
    </a>
	</div>

  <div data-role="content" >
    <ul data-role="listview" data-theme="c">
      <li>
        <h3><%=@license%></h3>
        <p class="ui-li-aside"><strong><%=@issued_time%></strong></p>
        <p><strong>Licensed to <%=@license%> issued on <%=@issued%> </strong></p>
      </li>
        <li>Total Devices <span class="ui-li-count"><%=@total%></span></li>
        <li>Available<span class="ui-li-count"><%=@available%></span></li>
        <li>Issued date<p class="ui-li-aside"><strong><%=@issued_date%></strong></p></li>
    </ul>
  </div>

</div>
