<div data-role="page" data-theme="a">
  
  <div data-role="header" data-position="inline">
    <h1>Data</h1>
    <a href="<%= url_for :action => :source_param,:query => {:source_name =>@params['source_name'],:user_name =>@params['user_name'] } %>" class="ui-btn-left" data-icon="back" data-direction="reverse" >
     Back
    </a>
    
  </div>
  <%= render :partial => "Shared/company_name"%>
  <div data-role="content" >
     
      <div data-role="fieldcontain">
      <label class="fieldLabel" style="font-size:18px;">Document  [<%= @params['doc'].gsub(':',': ') %>]</label><br/><br/>
     
      <% if @source_db_doc == {} %>
          Document is empty
        <% end %>
     </div>
          <% @source_db_doc.each do |data| %>
            <ul data-role="listview" data-inset="true" data-theme="c">
             <li> <label class="fieldLabel"><a><%= data[0] %></a></label></li>
                <% data[1].each do |params| %>
                 <li><label class="fieldLabel"><%= params[0]  %></label>
                 <label class="fieldLabel">:<%= params[1]  %></label></li>
                <% end %>
                </ul>
          <% end %>
      
  </div>
<div data-id="tabbar" data-role="footer" data-position="fixed" class="nav-cust">
    <div data-role="navbar" class="nav-cust" data-grid="b">
      <ul>
        <li><a href="<%= url_for :controller =>RhoMonitor ,:action => :dashboard %>" id="dashboard" data-icon="custom" >Dashboard</a></li>
        <li><a href="#" id="refresh" data-icon="custom" class="source_doc_refresh" data-user="<%=@params['user_name']%>" data-source="<%= @params['source_name'] %>" data-doc="<%= @params['doc'] %>">Refresh</a></li>
        <li><a href="<%= url_for :controller =>RhoMonitor ,:action => :logout %>" id="logout" data-icon="custom">Logout</a></li>
      
      </ul>
    </div>
  </div>
</div>