<div data-role="page" data-theme="a">
   
<script type="text/javascript">
$(document).ready(function(){
  $.jqplot('chart_div', [
        [ <%  @chart.each do |chart| %>
          [<%= chart.device_count %>,"<%=  chart.user_name %>"],    

          <% end %> 
       
        ] 
       ], {
        seriesDefaults: {
            renderer:$.jqplot.BarRenderer,
           
            pointLabels: { show: true, location: 'e', edgeTolerance: -15 },
           
            shadowAngle: 135,
             
            rendererOptions: {
              showDataLabels: true,
              dataLabels: 'value',
              barWidth:25,
              barDirection: 'horizontal'
            }

        }, axesDefaults: {
        show: false},
        axes: {
          xaxis:{
          label:'Devices Count'
        },
            yaxis: {
                renderer: $.jqplot.CategoryAxisRenderer,
                tickOptions:{
                 showGridline: false
                 }
            }
        },grid:{} ,series:[{color:"#607B8B"}],title:{text:"Users/Devices Statistics",fontSize : 20,color:"#fff"}
    });
});
</script> 
<%= render :partial => "Shared/company_name"%><br/>


  <div data-role="content" >
    
  <!-- #525C65 -->
    <div id="chart_div" class="charts" style="color:#7CC4E7;font-size:20px;"></div>
   
  </div>
  
  <div data-id="tabbar" data-role="footer" data-position="fixed" class="nav-cust">
       <div data-role="navbar" class="nav-cust" data-grid="b">
         <ul>
            <li><a href="<%= url_for :controller =>RhoMonitor ,:action => :dashboard %>" id="dashboard" data-icon="custom">Dashboard</a></li>
            <li><a href="#" id="refresh" onclick="$.mobile.showPageLoadingMsg(); $.post('/app/Chart/chart_refresh');" data-icon="custom">Refresh</a></li>
            <li><a href="<%= url_for :controller =>RhoMonitor ,:action => :logout %>" id="logout" data-icon="custom">Logout</a></li>
         </ul>
       </div>
  </div>
</div>
